CHANGELOG-CURR.txt
CHANGELOG-PREV.txt
console-logo.png
console_history.txt
ctags-emacs
ctags-vim
.DS_Store
dragonruby
dragonruby.exe
dragonruby-bind
dragonruby-bind.exe
dragonruby-controller.png
dragonruby-httpd
dragonruby-httpd.exe
dragonruby-publish
dragonruby-publish.exe
dragonruby-replay
dragonruby-replay.exe
dragonruby-vrsim
dragonruby-vrsim.exe
dragonruby.png
eula.txt
ffmpeg
ffmpeg.exe
font.ttf
.gitattributes
open-source-licenses.txt
README.txt
VERSION.txt
.dragonruby/
docs/
exceptions/
include/
logs/
mygame/sprites/circle/
mygame/sprites/hexagon/
mygame/sprites/isometric/
mygame/sprites/misc/
mygame/sprites/square/
mygame/sprites/t-pose/
mygame/sprites/tile/
mygame/sprites/triangle/
samples/
tmp/
mygame/metadata/icon.png
